body {
  padding: 1em;
}

table {
  border-style: none;
  border-top-width: 0;
  width: auto;
}
table tr {
  border-style: none;
  border-bottom-width: 0;
}
table th, table td {
  border-style: none;
  padding-right: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: left;
  min-width: 50px;
  vertical-align: top;
}
table th.tool, table td.tool {
  padding: 0 1em;
}
table th + th,
table th + td,
table td + th,
table td + td {
  border-left-width: 1px;
}
table thead tr:last-child {
  border-bottom-width: 2px;
}
table thead th,
table tr.index th {
  font-size: 1.13333em;
  line-height: 1.41176em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
}
table thead th {
  border-bottom: 1px solid;
  padding-bottom: .25em;
}
table tr.index th {
  font-size: 1.33333em;
  line-height: 1.2em;
}
table tbody:first-of-type tr.index th {
  padding-top: 1em;
}
table tbody th {
  font-weight: normal;
}

@media (max-width: 47.9375em) {
  table {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.4375em;
    padding-bottom: 0;
    display: block;
    width: 100%;
    /*
     * make everything display block so it
     * aligns vertically
     */
    /* Labeling
     * adding a data-title attribute to the cells
     * lets us add text before the content to provide
     * the missing context
     *
     * Markup:
     *   <td data-title="Column Header">Content Here</td>
     *
     * Display:
     *   Column Header: Content Here
     */
  }
  table caption {
    display: block;
  }
  table thead {
    display: none;
    visibility: hidden;
  }
  table tbody, table tr, table th, table td {
    border: 0;
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  table tr {
    margin-bottom: 1.5em;
  }
  table th[data-title]:before,
  table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }
  table th:not([data-title]) {
    font-weight: bold;
  }
  table td:empty {
    display: none;
  }
}
