@charset "utf-8";
#cont1{
	border-radius:3px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari y Chrome */

/* Otros estilos */
border:1px solid #333;
background:#eee;
width:98%;
padding:5px;
	}
#picture {
		float:left;


	}


